<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jetsung Chan">
  <title>Error</title>
  <style>
    body {
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      font-size: 36px;
      font-weight: bold;
      margin: 0;
    }

    p {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <p>{{ info }}</p>
    </div>
  </div>
</body>

</html>